/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Styles personnalisés pour la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Couleur de fond grise */
}

/* Styles pour le message de bienvenue */
.welcome-message {
    font-size: 24px;
    font-weight: bold;
    color: #1952b4; /* Couleur bleu foncé */
    margin-left: 10px;

}

/* Styles pour l'en-tête */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrez verticalement le contenu */
    padding: 10px 20px; /* Espacement autour du contenu */
    background-color: #fff; /* Couleur de fond blanche */
    border-bottom: 1px solid #ccc; /* Bordure inférieure grise */
}

/* Styles pour le bouton de déconnexion */
.header button {
    padding: 8px 16px;
    background-color: #333; /* Couleur de fond sombre */
    color: #fff; /* Couleur de texte claire */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s; /* Transition en douceur au survol */
}

.header button:hover {
    background-color: #555; /* Couleur légèrement plus foncée au survol */
}

/* Styles pour le menu de réservation */
h1 {

    text-align: center;
    font-size: 36px; /* Augmente la taille du texte à 36px */
    color: #333; /* Couleur de texte sombre */
    margin-bottom: 20px; /* Marge inférieure pour l'espace */
    margin-top: 20px;
}

/* Styles pour le conteneur des boutons */
.button-container {
    display: flex;
    flex-direction: linear;

    justify-content: center;
    align-items: center; /* Centre les éléments horizontalement */
}

/* Styles pour les boutons de réservation */
.button-container form {
    margin: 10px; /* Marge inférieure entre les boutons */
}

.button-container button {
    padding: 15px 25px; /* Augmente l'espacement intérieur du bouton */
    background-color: #1b87da; /* Couleur de fond bleu foncé */
    color: #fff; /* Couleur de texte blanche */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Augmente la taille du texte à 18px */
    transition: background-color 0.3s; /* Transition en douceur au survol */
}

.button-container button:hover {
    background-color: #123f83; /* Couleur légèrement plus foncée au survol */
}

/* Styles pour le texte au milieu */
.texte-milieu {
    text-align: justify; /* Justifie le texte */
    font-size: 22px; /* Augmente la taille du texte */
    color: #000000; /* Couleur de texte */
    margin-top: 20px; /* Marge supérieure */
    width: 60%; /* Largeur du conteneur de texte */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    font-weight: bold; /* Texte en gras */
}
