/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles personnalisés pour la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Couleur de fond grise */
}

/* Styles pour le message de bienvenue */
.welcome-message {
    font-size: 24px;
    font-weight: bold;
    color: #1952b4; /* Couleur bleu foncé */
    margin-left: 10px;
}

/* Styles pour l'en-tête */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrez verticalement le contenu */
    padding: 10px 20px; /* Espacement autour du contenu */
    background-color: #fff; /* Couleur de fond blanche */
    border-bottom: 1px solid #ccc; /* Bordure inférieure grise */
}

/* Styles pour le bouton de déconnexion */
.header button {
    padding: 8px 16px;
    background-color: #333; /* Couleur de fond sombre */
    color: #fff; /* Couleur de texte claire */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s; /* Transition en douceur au survol */
}

.header button:hover {
    background-color: #555; /* Couleur légèrement plus foncée au survol */
}




	/* Styles personnalisés pour le calendrier */
#calendar {
    border: 1px solid #ccc; /* Bordure grise de */
        padding: 20px;
    float: left; /* Positionner le calendrier à gauche */
    width: calc(100% ); /* Définir la largeur du calendrier */
}
/* Styles personnalisés pour les cases de la grille du calendrier */
.col-md-3 {
    padding-bottom: 10px;
}
.fc-daygrid-day {
    border: 1px solid #ccc; /* Bordure grise de 1 pixel */
}
.card-title {
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Cela ajoutera des points de suspension (...) si le texte dépasse la largeur du bloc */
}

.alert alert-info {
  background-color: #800000; /* Rouge bordeaux */
  border-radius: 10px; /* Arrondissement des bordures */
  color: #ffffff; /* Texte en blanc */
  font-weight: bold; /* Texte en gras */
}
